.Count {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Sub,
.Add {
    width: 45rem;
    height: 45rem;
    border: none;
    border-radius: 50%;
    background-color: #FCBF49;
    font-size: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Sub {
    background: none;
    border: 1rem solid gray
}

.Sum {
    margin: 0 10rem;
}